*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body    {
font-family: Arial, Helvetica, sans-serif;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:#73b58f;
    padding: 20px 60px;
    /* margin-bottom: 25px; */
}

.navbar img {
    max-width: 150px;
    /* height: 50px; */
}

.navbar ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.page {
    padding: 25px 60px;

}
.page2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}
.page2 h4 {
    color: #73b58f;
}

.page p {
    font-size:14px;
    line-height:1.6;
    margin-bottom:25px;
}

.page h2 {
    font-size: 30px;
    /* margin-bottom:20px; */
}

.contact {
    width: 90%;
    margin: auto;
}

.container {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

.form {
    flex: 1;
}

.form form {
    display: flex;
    flex-direction: column;
}

.form label {
    margin-bottom: 8px;
    font-size: 14px;
    color: #333;
}

.form input,
.form textarea {
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #999;
    outline: none;
    font-size: 14px;
}

.form button {
    padding: 12px;
    background: linear-gradient(to right, #222, #111);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.map {
    flex: 1;
}

map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}


.footer {
    background: #73b58f;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
    
}

.footer img {
    margin-right: 15px;
    cursor: pointer;
}
#h {
    height: 77vh;
}